@import "./normalize.scss";
@import "./reset.scss";

$menuWidth: 250px;
$menuMinWidth: 80px;

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}

@mixin labelDom($width, $align, $line-height:"normal") {
  > label {
    float: left;
    line-height: $line-height + px;
    width: $width + px;
    text-align: $align;
  }
  .content-wrap {
    margin-left: $width + px;
  }
}