$success: #67c23a;
$success_hover: #85ce61;
$success_active: #5daf34;
.ant-btn-success {
  color: #fff;
  background-color: $success;
  border-color: $success;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  &:hover, :focus {
    color: #fff;
    background-color: $success_hover;
    border-color: $success_hover;
  }
  &:active{
    color: #fff;
    background-color: $success_active;
    border-color: $success_active;
    outline: none;
  }
  &[disabled] {
    color: #fff;
    background-color: rgba(133, 206, 97, 0.75);
    border-color:  rgba(133, 206, 97, 0.25);
    text-shadow: none;
    box-shadow: none;
  }
}
.ant-menu {
  background-color: transparent;
  color: #fff;
}
.ant-menu-submenu {
  color: #fff;
}
.ant-menu-submenu-active::hover {
  color: #fff;
}

.ant-menu-inline .ant-menu-item, .ant-menu-inline .ant-menu-submenu-title {
  width: 100%;
}

.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-sub.ant-menu-inline > .ant-menu-item, .ant-menu-sub.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title{
  height: 50px;
  line-height: 50px;
}
.ant-menu-inline .ant-menu-item, .ant-menu-inline .ant-menu-submenu-title {
  margin: 0;
}
.ant-menu-inline .ant-menu-item::after {
  border: none;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: rgba(245, 108, 108, 0.2);
  color: #fff;
}

.ant-menu-submenu-selected {
  &>.ant-menu-submenu-title {
    background-color: #f56c6c;
    color: #fff;
  }
  .ant-menu-submenu-arrow::before, .ant-menu-submenu-arrow::after{
    color: #fff;
  }
}
.ant-menu-inline-collapsed {
  > .ant-menu-submenu-selected{
    .ant-menu-submenu-title {
      background-color: #f56c6c;
    }
  }
}
.ant-menu-submenu > .ant-menu {
  background-color:  #344a5f;
}
.ant-modal-footer {
  border: none;
}
.ant-modal-header {
  border-bottom: none;
}