$success: #67c23a;
$success_hover: #85ce61;
$success_active: #5daf34;
.ant-btn-success {
  color: #fff;
  background-color: $success;
  border-color: $success;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  &:hover, :focus {
    color: #fff;
    background-color: $success_hover;
    border-color: $success_hover;
  }
  &:active{
    color: #fff;
    background-color: $success_active;
    border-color: $success_active;
    outline: none;
  }
  &[disabled] {
    color: #fff;
    background-color: rgba(133, 206, 97, 0.75);
    border-color:  rgba(133, 206, 97, 0.25);
    text-shadow: none;
    box-shadow: none;
  }
}
.ant-menu {
  color: #fff;
}
.ant-menu-vertical .ant-menu-item, .ant-menu-vertical-left .ant-menu-item, .ant-menu-vertical-right .ant-menu-item, .ant-menu-inline .ant-menu-item, .ant-menu-vertical .ant-menu-submenu-title, .ant-menu-vertical-left .ant-menu-submenu-title, .ant-menu-vertical-right .ant-menu-submenu-title, .ant-menu-inline .ant-menu-submenu-title{
  height: 50px;
  line-height: 50px;
  margin: 0;
}
.ant-menu-vertical > .ant-menu-item, .ant-menu-vertical-left > .ant-menu-item, .ant-menu-vertical-right > .ant-menu-item, .ant-menu-inline > .ant-menu-item, .ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-vertical-left > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-vertical-right > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
  height: 50px;
  line-height: 50px;
}
.ant-menu-sub.ant-menu-inline > .ant-menu-item, .ant-menu-sub.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
  height: 50px;
  line-height: 50px;
}
.ant-menu-item-active,
.ant-menu-item-selected {
  color: #fff;
}
.ant-menu-submenu-title:hover {
  color: #fff;
}
.ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before {
  background: #fff;
}
.ant-menu-submenu-active {
  color: #fff;
}
.ant-menu-submenu-active .ant-menu-submenu-arrow {
  color: #fff;
}